.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 24px;
  /* background-color: aqua; */
  justify-content: center;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaço entre os cartões */
  justify-content: center;
  padding-top: 16px;
  flex-direction: row;
}
.example-card-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8px;
  padding-top: 8px;
}
