<div class="container">

  <div class="container-card" *ngFor="let product of products">
    <mat-card class="example-card" appearance="outlined" *ngIf="!selectedIsProduct">
      <mat-card-header>
        <mat-card-title>Produto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Nome produto: {{product.productName}}</p>
        <!-- <p>Enumeração: {{product.enumaration}}</p> -->
        <p>Quantidade: {{product.quantity}} {{product.enumaration}}</p>
        <p>Perecível: {{product.productPerishable  | booleanToSimNao}}</p>
        <p>Data de validade: {{product.validyDate}}</p>
        <p>Data de fabricação: {{product.dateManufacturing}}</p>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <button type="submit"  mat-raised-button color="primary" (click)="onEdit(product)">Editar</button>
        <button type="submit"  mat-raised-button (click)="deleteProduct(product.id)" color="warn">Deletar</button>
        <!-- <button mat-raised-button color="warn" (click)="deleteCard(louvor.idLouvor)">deletar</button> -->

      </mat-card-footer>
    </mat-card>

  </div>

  <!-- Formulário de Edição -->
   <div>
  <mat-card *ngIf="selectedIsProduct"   appearance="outlined">
    <mat-card-header>
      <mat-card-title>Editar Produto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm" class="container-card-update" (ngSubmit)="onUpdate()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="productName">
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Unidade de medida</mat-label>
          <mat-select formControlName="enumaration">
            <mat-option *ngFor="let enumaration of enumarations" [value]="enumaration.value">
              {{enumaration.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantidade</mat-label>
          <input matInput formControlName="quantity">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Perecível</mat-label>
          <mat-select formControlName="productPerishable">
            <mat-option [value]="true">Sim</mat-option>
            <mat-option [value]="false">Não</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Data de validade</mat-label>
          <input matInput formControlName="validyDate">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Data de fabricação</mat-label>
          <input matInput formControlName="dateManufacturing">
        </mat-form-field>
        <div class="example-card-footer">
          <button mat-raised-button color="primary" type="submit">Salvar</button>
          <button mat-raised-button color="warn" (click)="selectedProduct = null">Cancelar</button>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

</div>
